
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item" fxFlex="20" fxFlexOffset="0px" fxFlexOffset.xs="0">
      <mat-form-field>
          <input matInput (keyup)='applyFilter($event)' placeholder="Buscar" #filter maxlength="100">
          <mat-hint align="end">minimo dos caracteres</mat-hint>
      </mat-form-field>
  </div>
  <div class="item " fxFlex="20">
      <button  mat-raised-button color="primary" (click)="openDialogAdmin(0,'new')" class="buttonAdd">
          <mat-icon aria-label="Add">add</mat-icon> Agregar
      </button>
  </div>
</div>

<div class="mat-elevation-z8" style="overflow-x: auto;">
  <mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.last_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="birthday">
          <mat-header-cell *matHeaderCellDef> birthday
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.birthday | date }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef > Opciones </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index;">
              <button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialogAdmin(row.id,'edit')">
                      <mat-icon>edit</mat-icon><span>Editar</span>
                  </button>
                  <!-- <button mat-menu-item (click)="openDialog( row, i)">
                      <mat-icon>delete</mat-icon><span>Eliminar</span>
                  </button> -->
              </mat-menu>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="total" [pageSizeOptions]="[ 10, 25, 100]" [pageSize]="size" [pageIndex]="number" ></mat-paginator>
  <!-- <mat-paginator [length]="total" [pageSizeOptions]="[ 10, 25, 100]" [pageSize]="size" [pageIndex]="number" (page)="pageEvent = fillTable($event)"></mat-paginator> -->

</div>
