<h1 color="primary" mat-dialog-title>{{ titleModal }}</h1>
<mat-dialog-content>

    <form [formGroup]="form" autocomplete="off">
        <mat-grid-list cols="2" rowHeight="62px" gutterSize="10px">
            <mat-grid-tile cols="1" rows="1">
                <mat-form-field class="inputform">
                    <input matInput placeholder="Nombre" formControlName="name" #name maxlength="100">
                    <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
                    <mat-error *ngIf="form.controls.name.invalid && form.controls.name.touched">
                        <strong>Campo Requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile cols="1" rows="1">
                <mat-form-field class="inputform">
                    <input matInput placeholder="Apellidos" formControlName="last_name" #last_name maxlength="30">
                    <mat-hint align="end">{{last_name.value.length}} / 30</mat-hint>
                    <mat-error *ngIf="form.controls.last_name.invalid && form.controls.last_name.touched">
                        <strong>Informacion Requerida</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile cols="1" rows="1">
                <mat-form-field>
                  <mat-label> Fecha de Nacimiento</mat-label>
                  <input matInput [matDatepicker]="birthday" formControlName="birthday">
                  <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                  <mat-datepicker #birthday></mat-datepicker>
                  <mat-error *ngIf="form.controls.birthday.invalid && form.controls.birthday.touched">
                      <strong>Informacion Requerida</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeDialogAdmin()">Cerrar</button>
    <button mat-button color="primary" type="button" [disabled]="!form.valid" (click)="onSubmit()">Guardar</button>
</mat-dialog-actions>
